PORT=3000
SUPABASE_URL=https://ihcdvlddmilzywlkinwp.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_DdNbfl_8uhYeyYLO6eybfQ_qn-EV621
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloY2R2bGRkbWlsenl3bGtpbndwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM1MDI3NiwiZXhwIjoyMDkyOTI2Mjc2fQ.gy7wv4OIAbYrIMf5Hj3RF-2qO_C_ZBp5z5eieZFXoJY
SUPABASE_BUCKET=campaign-videos
