PORT=3000
SUPABASE_URL=https://ihcdvlddmilzywlkinwp.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_DdNbfl_8uhYeyYLO6eybfQ_qn-EV621
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_BUCKET=campaign-videos
